# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp

# Uploaded files
uploads/
pdf_uploads/

# Large model files
*.h5
*.hdf5
*.pkl
*.model
Plant_Identification_App/backend/model/
